---
title: About this Website
layout: page
---

<p>For the past 15 years, through science-based assessments, the Monterey Bay Aquarium Seafood
Watch® program has engaged and empowered US consumers and businesses to purchase seafood
that is fished or farmed in ways that minimize environmental impacts. By shaping US purchasing
decisions, the demand for sustainable seafood has hit a critical mass, which ultimately has pressured
producers to improve their fishing/farming practices. Top retailers and food service companies rely
on Seafood Watch to inform their seafood purchasing at more than 100,000 locations. More than 20
global conservation organizations use Seafood Watch’s information to inform their business and
consumer audiences and campaigns.  And more than 200 zoos, aquariums and other conservation
partners are working to raise awareness around sustainable seafood in their cities.</p>

<p>The Monterey Bay Aquarium Seafood Watch® program has received multiple requests from scientific
advisors, business partners and NGOs to help them understand the Greenhouse Gas (GHG) Emissions
associated with seafood, and began exploring greenhouse gas emissions as an additional
environmental consideration in seafood production in 2010, partnering with researchers at Dalhousie
University in Nova Scotia. Dr. Peter Tyedmers is a professor at Dalhousie University’s School for
Resource and Environmental Studies whose work includes a broad range of environmental
sustainability challenges in food production. Dr. Robert Parker is a former student of Dr. Tyedmers and
is currently a postdoctoral researcher at the University of British Columbia’s Institute for the Oceans
and Fisheries studying supply chain pathways of protein production from fisheries and aquaculture.
They co-manage the Fisheries and Energy Use Database of global fuel use data from primary and
secondary sources and, along with a community of researchers around the world, have worked with
industry, governmental and non-governmental groups to collect, analyze, and communicate the
greenhouse gas emissions of local, regional, and global seafood production.
</p>

<div class="staff p-b-9">
		<img src="{{ site.baseurl }}/images/staff-lisa-max.jpg">

		<img src="{{ site.baseurl }}/images/staff-peter-tyedmers.jpg">

		<img src="{{ site.baseurl }}/images/staff-robert-parker.jpg">
</div>
