---
layout: post
---

<div class="flex">
  <div class="flex-2">
    <h1>Contribute Data</h1>
    <h2 class="f-weight-light">We do not contact you and do NOT sell OR SHARE your information with anyone else.</h2>
  </div>
  <div class="flex-3">
    <div class="p-l-3">
      <form class="" action="#" method="">
        <input type="text" name="" value="" class="form-control" placeholder="Full Name">
        <input type="email" name="" value="" class="form-control" placeholder="Email">
        <input type="text" name="" value="" class="form-control" placeholder="Who you are">
        <textarea name="name" rows="8" cols="80" placeholder="Comments" class="form-control"></textarea>
        <input type="submit" name="" class="form-control btn btn-large btn-outline" value="Send Away">
      </form>
    </div>
  </div>
</div>
