---
layout: default
---

<section class="pane pane-intro" data-section-name="intro">
	<div class="pane-inner">
		<div class="container">
			<div class="max-width-65ent">
				<h1 class="f-size-xxl">Seafood Carbon Emissions Tool</h1>
				<p>Explore the relative carbon dioxide emissions associated wild caught and farmed seafood production and compare seafood carbon footprints with those of terrestrial protein options, including chicken, beef, pork, lamb and soy.  Calculate the emissions associated with transporting your seafood by plane, truck, rail and ship.</p>
			</div>
		</div>
	</div>
	<a href="#overview" class="scroll"><i class="material-icons arrow f-size-xxxxl bounce">keyboard_arrow_down</i></a>
</section>

<section class="pane overview pane-overview" data-section-name="overview">
	<div class="pane-inner">
		<div class="container pos-relative">
			<div class="flex m-b-3">
				<div class="flex-2">
					<h1 class="f-size-xxl">Food production is one of the largest sources of C0<sub class="f-size-xs">2</sub>emissions</h1>
					<p>The entire food sector, comprising production, processing, transport, and preparation of food has been estimated to contribute roughly 20 to 30 % of the global carbon footprint.</p>
				</div>
				<div class="flex-1"></div>
			</div>

			<div class="flex">
				<div class="flex-2"></div>
				<div class="flex-2">
					<h1 class="f-size-xxl">Seafood provides 17% of the world’s animal protein</h1>
					<p>Production has increased by roughly 150% over the past three decades, driven primarily by rapid expansionof aquaculture.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pane pane-data pos-relative" data-section-name="data">
	<div class="pos-absolute bar-units">
		<div class="container">
			<ul class="align-c f-size-m pos-relative">
				<li class="bar-units-fish"><a href="#" class="link-active" data-action="changeclass">CO<sub class="f-size-xxs">2</sub> eq kg of fish</a></li>
				<li class="bar-units-protein"><a href="#" data-action="changeclass">CO<sub class="f-size-xxs">2</sub> eq kg of protein</a></li>
				<li class="pos-absolute pos-absolute-right"><a href="#"><img src="images/filter.svg"></a></li>
			</ul>
		</div>
	</div>

	<div class="pane-inner">
		<div class="container">
			<div id="view1c" class="box box-view-container">
				<figure class="pos-relative" id="bar-chart">
					<div class="barchart-row bars">
						<div class="y-axis">
							<div class="segment">
								<span class="label f-size-xl">20</span>
							</div>
							<div class="segment">
								<span class="label f-size-xl">10</span>
							</div>
							<div class="segment">
								<span class="label f-size-xl">5</span>
							</div>
							<div class="segment">
								<span class="label f-size-xl">0</span>
							</div>
						</div>
						<div class="x-axis">
						</div>
					</div>
					<ul class="f-size-xxs allcaps barchart-legend">
						<li class="m-t-2">(f) farmed</li>
						<li>(w) wild</li>
					</ul>
				</figure>
			</div>

			<div id="view2c" class="box box-view-container box-view-list">
					<div class="m-t-1">
						<div class="flex">
						 <div class="flex-1">
							 <div class="p-t-1">
								 <h4 class="f-size-m m-b-1">TUNAS & LARGE PELAGICS</h4>
								 <img src="/images/categories/albacore.png" class="max-width-75ent">
								 <h4 class="f-size-m m-t-1">1.83 - 8.52</h4>
								 <p>co  -eq/kg co <span class="c-whitetransp-4">-eq/kg of protein</span></p>
							 </div>
						 </div>

						 <div class="flex-330 bg-whitetransp">
							 <div class="p-1">
								 <h4 class="m-b-1">GENERAL INFO</h4>
								 <ul>
										<li><b>Scientific Name:</b> Katsuwonus pelamis</li>
										<li><b>Uses:</b> bait, whole feed, fishmeal production</li>
										<li><b>Regions Found:</b> Southwest Pacific, Northwest Pacific</li>
										<li><b>Production:</b></li>
									</ul>
							 </div>
						 </div>

						 <div class="flex-1 bg-whitetransp m-l-1 m-r-1">
							 <div class="p-1">
								 <h4 class="m-b-1">FARMING METHODS</h4>
								 <p class="align-c p-t-1 f-size-xl f-weight-l">N/A</p>
							 </div>
						 </div>

						 <div class="flex-1 bg-whitetransp">
							 <div class="p-1">
								 <h4 class="m-b-1">GEAR TYPES</h4>
								 <h3>Longline</h3>
								 <p>Troll lines</p>
							 </div>
						 </div>
						</div>
						<div class="majorpoints">
					    <div class="align-r m-t-1"><a href="#" class="allcaps f-size-s is-link" data-action="showhide">More info</a></div>
							<div class="is-content more-content">
								<div class="flex">
								<div class="flex-330">
								 <div class="p-t-1">
									 <h4 class="f-size-m f-weight-r m-b-2">General Info</h4>
									 <h5>Scientific Name</h5>
									 <p>Katsuwonus pelamis</p>

									 <h5>Uses</h5>
									 <p>bait, whole feed, fishmeal production</p>

									 <h5>Regions Found</h5>
									 <p>Southwest Pacific, Northwest Pacific</p>

									 <h5>Production</h5>
								 </div>
								</div>

								<div class="m-b-1">
								 <div class="p-1 p-1-responsive">
									 <h4 class="f-size-m f-weight-r m-b-2">About the Data</h4>

									 <h5 class="f-weight-r">Data Certainty:</h5>
									 <p>Low <span class="m-l-1 c-whitetransp-4">Medium</span> <span class="m-l-1 c-whitetransp-4">High</span></p>

									 <h5>Breakdown:</h5>
									 <div class="flex-allday m-b-1">
										 <div data-width="42.25" class="progress p-half bg-yellow" style="width: 42.25%;"></div>
										 <div data-width="57.75" class="progress p-half bg-blue" style="width: 57.75%;"></div>
									 </div>

									 <h5>Notes:</h5>
									 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

									 <h5>Key References:</h5>
									 <p>Parker et al., 2015b</p>
								 </div>
								</div>

								<div class="flex-230">
								 <div class="p-t-1 border-radius">
									 <h4 class="f-size-m f-weight-r m-b-2">Additional Info</h4>
									 <ul class="bg-whitetransp p-1">
										 <li class="m-b-1">FUI estimate:  101 L/t</li>
										 <li class="m-b-1">
										 Unweighted<br>
										 mean value:  112 L/t
										 </li>
										 <li class="m-b-1">
										 Minimum <br>
										 FUI value:  29 L/t
										 </li>
										 <li class="m-b-1">
										 Maximum<br>
										 FUI value:  278 L/t
										 </li>
										 <li class="m-b-1">
										 Standard<br>
										 deviation:  68 L/t
										 </li>
										 <li class="m-b-1">
										 Standard error:  17 L/t
										 </li>
										 <li class="m-b-1">
										 Flesh yield:   53 %
										 </li>
										 <li>
										 Protein yield: 10.3 %
										 </li>
									 </ul>
								 </div>
								</div>
								</div>
							</div>
				    </div>
					</div>

					<div class="m-t-1">
						<div class="flex">
						 <div class="flex-1">
							 <div class="p-t-1 p-r-1">
								 <h4 class="f-size-m m-b-1">LOBSTER</h4>
								 <img src="/images/categories/lobster.png" class="max-width-75ent">
								 <h4 class="f-size-m m-t-1">1.83 - 8.52</h4>
								 <p>co  -eq/kg co <span class="c-whitetransp-4">-eq/kg of protein</span></p>
							 </div>
						 </div>

						 <div class="flex-330 bg-whitetransp">
							 <div class="p-1">
								 <h4 class="m-b-1">GENERAL INFO</h4>
								 <ul>
										<li><b>Scientific Name:</b> Katsuwonus pelamis</li>
										<li><b>Uses:</b> bait, whole feed, fishmeal production</li>
										<li><b>Regions Found:</b> Southwest Pacific, Northwest Pacific</li>
										<li><b>Production:</b></li>
									</ul>
							 </div>
						 </div>

						 <div class="flex-1 bg-whitetransp m-l-1 m-r-1">
							 <div class="p-1">
								 <h4 class="m-b-1">FARMING METHODS</h4>
								 <p class="align-c p-t-1 f-size-xl f-weight-l">N/A</p>
							 </div>
						 </div>

						 <div class="flex-1 bg-whitetransp">
							 <div class="p-1">
								 <h4 class="m-b-1">GEAR TYPES</h4>
								 <h3>Longline</h3>
								 <p>Troll lines</p>
							 </div>
						 </div>
						</div>
						<div class="majorpoints">
							<div class="align-r m-t-1"><a href="#" class="allcaps f-size-s is-link" data-action="showhide">More info</a></div>
							<div class="is-content more-content">
								<div class="flex">
								<div class="flex-330">
								 <div class="p-t-1">
									 <h4 class="f-size-m f-weight-r m-b-2">General Info</h4>
									 <h5>Scientific Name</h5>
									 <p>Katsuwonus pelamis</p>

									 <h5>Uses</h5>
									 <p>bait, whole feed, fishmeal production</p>

									 <h5>Regions Found</h5>
									 <p>Southwest Pacific, Northwest Pacific</p>

									 <h5>Production</h5>
								 </div>
								</div>

								<div class="m-b-1">
								 <div class="p-1 p-1-responsive">
									 <h4 class="f-size-m f-weight-r m-b-2">About the Data</h4>

									 <h5 class="f-weight-r">Data Certainty:</h5>
									 <p>Low <span class="m-l-1 c-whitetransp-4">Medium</span> <span class="m-l-1 c-whitetransp-4">High</span></p>

									 <h5>Breakdown:</h5>
									 <div class="flex-allday m-b-1">
										 <div data-width="42.25" class="progress p-half bg-yellow" style="width: 42.25%;"></div>
										 <div data-width="57.75" class="progress p-half bg-blue" style="width: 57.75%;"></div>
									 </div>

									 <h5>Notes:</h5>
									 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

									 <h5>Key References:</h5>
									 <p>Parker et al., 2015b</p>
								 </div>
								</div>

								<div class="flex-230">
								 <div class="p-t-1 border-radius">
									 <h4 class="f-size-m f-weight-r m-b-2">Additional Info</h4>
									 <ul class="bg-whitetransp p-1">
										 <li class="m-b-1">FUI estimate:  101 L/t</li>
										 <li class="m-b-1">
										 Unweighted<br>
										 mean value:  112 L/t
										 </li>
										 <li class="m-b-1">
										 Minimum <br>
										 FUI value:  29 L/t
										 </li>
										 <li class="m-b-1">
										 Maximum<br>
										 FUI value:  278 L/t
										 </li>
										 <li class="m-b-1">
										 Standard<br>
										 deviation:  68 L/t
										 </li>
										 <li class="m-b-1">
										 Standard error:  17 L/t
										 </li>
										 <li class="m-b-1">
										 Flesh yield:   53 %
										 </li>
										 <li>
										 Protein yield: 10.3 %
										 </li>
									 </ul>
								 </div>
								</div>
								</div>
							</div>
						</div>
					</div>

					<div class="m-t-1">
						<div class="flex">
						 <div class="flex-1">
							 <div class="p-t-1 p-r-1">
								 <h4 class="f-size-m m-b-1">MOLLUSC</h4>
								 <img src="/images/categories/mollusc.png" class="max-width-75ent">
								 <h4 class="f-size-m m-t-1">1.83 - 8.52</h4>
								 <p>co  -eq/kg co <span class="c-whitetransp-4">-eq/kg of protein</span></p>
							 </div>
						 </div>

						 <div class="flex-330 bg-whitetransp">
							 <div class="p-1">
								 <h4 class="m-b-1">GENERAL INFO</h4>
								 <ul>
										<li><b>Scientific Name:</b> Katsuwonus pelamis</li>
										<li><b>Uses:</b> bait, whole feed, fishmeal production</li>
										<li><b>Regions Found:</b> Southwest Pacific, Northwest Pacific</li>
										<li><b>Production:</b></li>
									</ul>
							 </div>
						 </div>

						 <div class="flex-1 bg-whitetransp m-l-1 m-r-1">
							 <div class="p-1">
								 <h4 class="m-b-1">FARMING METHODS</h4>
								 <p class="align-c p-t-1 f-size-xl f-weight-l">N/A</p>
							 </div>
						 </div>

						 <div class="flex-1 bg-whitetransp">
							 <div class="p-1">
								 <h4 class="m-b-1">GEAR TYPES</h4>
								 <h3>Longline</h3>
								 <p>Troll lines</p>
							 </div>
						 </div>
						</div>
						<div class="majorpoints">
							<div class="align-r m-t-1"><a href="#" class="allcaps f-size-s is-link" data-action="showhide">More info</a></div>
							<div class="is-content more-content">
								<div class="flex">
								<div class="flex-330">
								 <div class="p-t-1">
									 <h4 class="f-size-m f-weight-r m-b-2">General Info</h4>
									 <h5>Scientific Name</h5>
									 <p>Katsuwonus pelamis</p>

									 <h5>Uses</h5>
									 <p>bait, whole feed, fishmeal production</p>

									 <h5>Regions Found</h5>
									 <p>Southwest Pacific, Northwest Pacific</p>

									 <h5>Production</h5>
								 </div>
								</div>

								<div class="m-b-1">
								 <div class="p-1 p-1-responsive">
									 <h4 class="f-size-m f-weight-r m-b-2">About the Data</h4>

									 <h5 class="f-weight-r">Data Certainty:</h5>
									 <p>Low <span class="m-l-1 c-whitetransp-4">Medium</span> <span class="m-l-1 c-whitetransp-4">High</span></p>

									 <h5>Breakdown:</h5>
									 <div class="flex-allday m-b-1">
										 <div data-width="42.25" class="progress p-half bg-yellow" style="width: 42.25%;"></div>
										 <div data-width="57.75" class="progress p-half bg-blue" style="width: 57.75%;"></div>
									 </div>

									 <h5>Notes:</h5>
									 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

									 <h5>Key References:</h5>
									 <p>Parker et al., 2015b</p>
								 </div>
								</div>

								<div class="flex-230">
								 <div class="p-t-1 border-radius">
									 <h4 class="f-size-m f-weight-r m-b-2">Additional Info</h4>
									 <ul class="bg-whitetransp p-1">
										 <li class="m-b-1">FUI estimate:  101 L/t</li>
										 <li class="m-b-1">
										 Unweighted<br>
										 mean value:  112 L/t
										 </li>
										 <li class="m-b-1">
										 Minimum <br>
										 FUI value:  29 L/t
										 </li>
										 <li class="m-b-1">
										 Maximum<br>
										 FUI value:  278 L/t
										 </li>
										 <li class="m-b-1">
										 Standard<br>
										 deviation:  68 L/t
										 </li>
										 <li class="m-b-1">
										 Standard error:  17 L/t
										 </li>
										 <li class="m-b-1">
										 Flesh yield:   53 %
										 </li>
										 <li>
										 Protein yield: 10.3 %
										 </li>
									 </ul>
								 </div>
								</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

		<div class="align-c box-view-outter hide">
			<div class="container pos-relative">
				<p class="allcaps f-size-xs pos-absolute pos-absolute-left">&copy; 2017 Monterey Bay Aquarium Foundation</p>
				<ul class="f-size-xxs box-action box-view">
					<li class="allcaps">View:</li>
					<li><a id="view1"><i class="material-icons">insert_chart</i></a></li>
					<li><a id="view2"><i class="material-icons">format_list_bulleted</i></a></li>
				</ul>
				<p class="allcaps f-size-xs pos-absolute pos-absolute-right"><a href="/privacy-policy/">Privacy Policy</a></p>
			</div>
		</div>
	</div>
</section>

<section class="modal-overlay">
	<i class="material-icons pos-absolute modal-close">clear</i>
	<div class="border-radius modal">
		<div class="modal-content p-1">
			<div class="align-c m-b-1 pos-relative">
				<img src="/images/categories/large_pelagic.png" class="specie-glow max-width-quarter">
				<h3 class="f-size-l m-t-1">1.83 - 8.52</h3>
				<p class="f-size-m m-t-1">co<sub>2</sub> -eq/kg co <span class="c-whitetransp-4">-eq/kg of protein</span></p>
			</div>

			<h4 class="allcaps f-size-l m-b-1 c-orange">TUNAS & LARGE PELAGICS</h4>
			<div class="flex">
				<div class="flex-1 bg-whitetransp">
					<div class="p-1">
						<h4 class="m-b-1">FARMED</h4>
						<ul class="">
							<ul>
							<li>
								<label class="control control--checkbox">
									Almaco jack
						      <input type="checkbox" checked="checked">
						      <div class="control__indicator"></div>
						    </label>

								<span><a href="#" class="allcaps f-size-s is-link" data-action="showhide"><i class="material-icons">keyboard_arrow_right</i></a></span>
								<div class="is-content more-content p-l-3">
									<label class="control control--checkbox block">
										Farming Method
										<input type="checkbox">
										<div class="control__indicator"></div>
									</label>

									<label class="control control--checkbox block">
										Farming Method
										<input type="checkbox">
										<div class="control__indicator"></div>
									</label>
								</div>
							</li>

							<li>
								<label class="control control--checkbox">Yellowfin tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>

							<li>
								<label class="control control--checkbox">California yellowtail
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
						</ul>
					</div>
				</div>

				<div class="flex-1 bg-whitetransp m-l-1">
					<div class="p-1">
						<h4 class="m-b-1">WILD</h4>
						<ul class="c-count-2">
							<li>
								<label class="control control--checkbox">Albacore tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Almaco jack
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Atlantic bluefin tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Bigeye tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">California yellowtail
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Japanese amberjack
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Pacific bluefin tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Skipjack tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Southern bluefin tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Swordfish
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
							<li>

								<label class="control control--checkbox">Yellowfin tuna
						      <input type="checkbox">
						      <div class="control__indicator"></div>
						    </label>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="m-t-2">
				<h3>Additional Info</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>

				<ul class="f-size-xxs align-c view box-action box-specie-data">
					<li><a class="allcaps">download data <i class="material-icons">vertical_align_bottom</i></a></li>
					<li><a class="allcaps modal-close">compare selected species <i class="material-icons">keyboard_arrow_right</i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
