---
layout: post
---

<div class="flex">
  <div class="flex-2">
    <h1 class="f-size-xl f-weight-b">Transport Calculator</h1>
    <h2 class="f-size-m f-weight-l">Use this calculator to calculate the cost of your commute and compare it to greener alternatives.</h2>
  </div>
  <div class="flex-3">
    <div class="p-l-3">
      <form class="" action="#" method="">
        <input type="text" name="" value="" class="form-control" placeholder="Rail Miles">
        <input type="text" name="" value="" class="form-control" placeholder="Freight Miles">
        <input type="text" name="" value="" class="form-control" placeholder="Plane Miles">
        <input type="text" name="" value="" class="form-control" placeholder="Truck Miles">
        <input type="submit" name="" class="form-control btn btn-large btn-outline" value="Calculate">
        <h2 class="align-c">Total: 40 CO  -eq/kg</h2>
      </form>
    </div>
  </div>
</div>
