<div class="barchart">
			<figure id="bar-chart">
				<ul class="bar-units align-c f-size-l">
					<li class="bar-units-fish link-active">CO<sub class="f-size-xxs">2</sub> eq kg of fish</li>
					<li class="bar-units-protein"><a href="#">CO<sub class="f-size-xxs">2</sub> eq kg of protein</a></li>
					<li class="pos-absolute bar-filter"><img src="images/filter.svg"></li>
				</ul>
				<div class="barchart-row bars">
					<div class="y-axis">
						<div class="segment">
							<span class="label f-size-xl">20</span>
						</div>
						<div class="segment">
							<span class="label f-size-xl">10</span>
						</div>
						<div class="segment">
							<span class="label f-size-xl">5</span>
						</div>
						<div class="segment">
							<span class="label f-size-xl">0</span>
						</div>
					</div>
					<div class="x-axis">
					<div class="species"><div class="col"><div class="bar bg-green" style="height: 23%; bottom:4px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Forage fish</h5>RANGE: 23-4</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Forage fish</div></div><div class="species"><div class="col"><div class="bar bg-acua" style="height: 25%; bottom:6px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Tunas and large pelagic fish</h5>RANGE: 25-6</div></div><div class="bar bg-acua" style="height: 17%; bottom:48px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Tunas and large pelagic fish</h5>RANGE: 17-48</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Tunas and large pelagic fish</div></div><div class="species"><div class="col"><div class="bar bg-pink" style="height: 9%; bottom:43px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Salmonids</h5>RANGE: 9-43</div></div><div class="bar bg-pink" style="height: 17%; bottom:39px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Salmonids</h5>RANGE: 17-39</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Salmonids</div></div><div class="species"><div class="col"><div class="bar bg-white" style="height: 23%; bottom:28px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Whitefish</h5>RANGE: 23-28</div></div><div class="bar bg-white" style="height: 49%; bottom:58px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Whitefish</h5>RANGE: 49-58</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Whitefish</div></div><div class="species"><div class="col"><div class="bar bg-blue" style="height: 8%; bottom:19px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Table fish</h5>RANGE: 8-19</div></div><div class="bar bg-blue" style="height: 7%; bottom:38px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Table fish</h5>RANGE: 7-38</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Table fish</div></div><div class="species"><div class="col"><div class="bar bg-violet" style="height: 8%; bottom:12px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Lobsters and crabs</h5>RANGE: 8-12</div></div><div class="bar bg-violet" style="height: 33%; bottom:53px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Lobsters and crabs</h5>RANGE: 33-53</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Lobsters and crabs</div></div><div class="species"><div class="col"><div class="bar bg-yellow" style="height: 19%; bottom:29px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Shrimps and prawns</h5>RANGE: 19-29</div></div><div class="bar bg-yellow" style="height: 19%; bottom:38px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Shrimps and prawns</h5>RANGE: 19-38</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Shrimps and prawns</div></div><div class="species"><div class="col"><div class="bar bg-orange" style="height: 59%; bottom:80px"><span class="raised-cat f-size-xxs f-weight-l">F</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Molluscs (inc. octopus and squid)</h5>RANGE: 59-80</div></div><div class="bar bg-orange" style="height: 17%; bottom:38px"><span class="raised-cat f-size-xxs f-weight-l">W</span><div class="tooltip f-size-s"><h5 class="allcaps f-weight-b">Molluscs (inc. octopus and squid)</h5>RANGE: 17-38</div></div></div><div class="allcaps label f-size-xxs f-weight-l">Molluscs (inc. octopus and squid)</div></div></div>
				</div>
				<ul class="f-size-xxs allcaps barchart-legend"><li class="barchart-legend-item barchart-legend-item-bg-orange">Molluscs (inc. octopus and squid)</li><li class="barchart-legend-item barchart-legend-item-bg-yellow">Shrimps and prawns</li><li class="barchart-legend-item barchart-legend-item-bg-violet">Lobsters and crabs</li><li class="barchart-legend-item barchart-legend-item-bg-blue">Table fish</li><li class="barchart-legend-item barchart-legend-item-bg-white">Whitefish</li><li class="barchart-legend-item barchart-legend-item-bg-pink">Salmonids</li><li class="barchart-legend-item barchart-legend-item-bg-acua">Tunas and large pelagic fish</li><li class="barchart-legend-item barchart-legend-item-bg-green">Forage fish</li>
					<li class="m-t-2">(f) farmed</li>
					<li>(w) wild</li>
				</ul>
			</figure>
		</div>
