{% comment %}
<!-- <footer>
	<div class="container">
		<div class="footer-columns">
			{% for column in site.data.footer %}

			<ul class="footer-links">
				{% for link in column.links %}
					<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
						{% comment %}
						{% if link.social_icon %}
							{% include social-icon.html icon=link.social_icon %}
						{% endif %}
						{% endcomment %}

						{{ link.name }}</a></li>
				{% endfor %}
			</ul>
			{% endfor %}

		</div>
		<p class="copyright allcaps">
			&copy; {{ site.time | date: '%Y' }} Monterey Bay Aquarium Foundation
		</p>
	</div>
</footer> -->
{% endcomment %}
