<div id="view2c" class="specie p-t-5 view-container">
  <div class="container">
  <div class="flex border border-w-5 border-navy">
   <div class="flex-330">
     <div class="p-1">
       <h4 class="f-size-m m-b-1">TUNAS & LARGE PELAGICS</h4>
       <img src="/images/categories/large_pelagic.png" class="specie-glow max-width-half">
       <h4 class="f-size-m m-t-1">1.83 - 8.52</h4>
       <p>co  -eq/kg co <span class="c-whitetransp-4">-eq/kg of protein</span></p>
     </div>
   </div>

   <div class="flex-230 bg-darknavy">
     <div class="p-1">
       <h4 class="f-size-base m-b-1">FARMED</h4>
       <ul class="">
         <ul>
         <li>Almaco jack</li>
         <li>Yellowfin tuna</li>
         <li>California yellowtail</li>
       </ul>
     </div>
   </div>

   <div class="flex-1 bg-darknavy border border-navy border-l-2">
     <div class="p-1">
       <h4 class="f-size-base m-b-1">WILD</h4>
       <ul class="c-count-3">
         <li>Albacore tuna</li>
         <li>Almaco jack</li>
         <li>Atlantic bluefin tuna</li>
         <li>Bigeye tuna</li>
         <li>California yellowtail</li>
         <li>Japanese amberjack</li>
         <li>Pacific bluefin tuna</li>
         <li>Skipjack tuna</li>
         <li>Southern bluefin tuna</li>
         <li>Swordfish</li>
         <li>Yellowfin tuna</li>
       </ul>
     </div>
   </div>
  </div>

  <div class="m-t-3">
   <h4 class="f-size-l f-weight-b m-b-1 underline">PLOTTED SPECIES</h4>
   <div class="flex">
     <div class="flex-330">
       <div class="p-t-1 p-b-1">
         <h4 class="f-size-m m-b-1">ALBACORE TUNA</h4>
         <img src="/images/categories/albacore.png" class="specie-glow max-width-half">
         <h4 class="f-size-m m-t-1">1.83 - 8.52</h4>
         <p>co  -eq/kg co <span class="c-whitetransp-4">-eq/kg of protein</span></p>
       </div>
     </div>

     <div class="flex-230 bg-darknavy">
       <div class="p-1">
         <h4 class="f-size-base m-b-1">FARMING METHODS</h4>
         <p class="align-c p-t-1 f-size-xl f-weight-l">N/A</p>
       </div>
     </div>

     <div class="flex-1 bg-darknavy border border-navy border-l-2">
       <div class="p-1">
         <h4 class="f-size-base m-b-2">GEAR TYPES</h4>
         <ul class="c-count-3">
           <li>Longlines</li>
           <li>Troll lines</li>
         </ul>
       </div>
     </div>
   </div>
  </div>

  <div class="m-t-3">
   <div class="flex">
     <div class="flex-330">
       <div class="p-t-1">
         <h4 class="f-size-m f-weight-r m-b-2">General Info</h4>
         <h5>Scientific Name</h5>
         <p>Katsuwonus pelamis</p>

         <h5>Uses</h5>
         <p>bait, whole feed, fishmeal production</p>

         <h5>Regions Found</h5>
         <p>Southwest Pacific, Northwest Pacific</p>

         <h5>Production</h5>
       </div>
     </div>

     <div class="m-b-1">
       <div class="p-1 p-1-responsive">
         <h4 class="f-size-m f-weight-r m-b-2">About the Data</h4>

         <h5 class="f-weight-r">Data Certainty:</h5>
         <p>Low <span class="m-l-1 c-whitetransp-4">Medium</span> <span class="m-l-1 c-whitetransp-4">High</span></p>

         <h5>Breakdown:</h5>
         <div class="flex-allday m-b-1">
           <div data-width="42.25" class="progress p-half bg-yellow" style="width: 42.25%;"></div>
           <div data-width="57.75" class="progress p-half bg-blue" style="width: 57.75%;"></div>
         </div>

         <h5>Notes:</h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

         <h5>Key References:</h5>
         <p>Parker et al., 2015b</p>
       </div>
     </div>

     <div class="flex-230">
       <div class="p-t-1 border-radius">
         <h4 class="f-size-m f-weight-r m-b-2">Additional Info</h4>
         <ul class="bg-darknavy p-1">
           <li class="m-b-1">FUI estimate :  101 L/t</li>
           <li class="m-b-1">
           Unweighted<br>
           mean value :  112 L/t
           </li>
           <li class="m-b-1">
           Minimum <br>
           FUI value :  29 L/t
           </li>
           <li class="m-b-1">
           Maximum<br>
           FUI value :  278 L/t
           </li>
           <li class="m-b-1">
           Standard<br>
           deviation :  68 L/t
           </li>
           <li class="m-b-1">
           Standard error :  17 L/t
           </li>
           <li class="m-b-1">
           Flesh yield :   53 %
           </li>
           <li>
           Protein yield : 10.3 %
           </li>
         </ul>
       </div>
     </div>
   </div>
  </div>
  </div>
</div>
