<!-- <ul> -->
	{% for item in include.listings %}
		<!-- <li {% if item.url == page.url %}class="active"{% endif %}> -->
				<article class="p-t-1 p-b-1">
					<h2 class="f-size-xl f-weight-b"><a href="{{ site.baseurl }}{{ item.url }}">{% if include.numbered %}{{ forloop.index }}. {% endif %}{{ item.title }}</a></h2>
					<p>{{ item.description }}</p>
				</article>
		<!-- </li> -->
	{% endfor %}
<!-- </ul> -->
