<nav>
	<div class="nav-menu">
		<!-- <a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a> -->

{% comment %}
		{% for link in site.data.navigation %}
		{% assign class = "" %}

			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}
			<a href="{% include relative-src.html src=link.link %}" class="f-size-xl {{ class }}">{{ link.name }}</a>
		{% endfor %}
{% endcomment %}

		<div class="tabs tabs-nav">
			 <div class="tab">
				 <input type="radio" id="tab-1" name="tab-group-1" checked>
				 <label for="tab-1" class="f-size-xl">About</label>

				 <div class="tab-content tab-content-nav">
					 <h1 class="f-size-xl f-weight-b">About this Website</h1>
							<p>For the past 15 years, through science-based assessments, the Monterey Bay Aquarium Seafood
					 Watch® program has engaged and empowered US consumers and businesses to purchase seafood
					 that is fished or farmed in ways that minimize environmental impacts. By shaping US purchasing
					 decisions, the demand for sustainable seafood has hit a critical mass, which ultimately has pressured
					 producers to improve their fishing/farming practices. Top retailers and food service companies rely
					 on Seafood Watch to inform their seafood purchasing at more than 100,000 locations. More than 20
					 global conservation organizations use Seafood Watch’s information to inform their business and
					 consumer audiences and campaigns.  And more than 200 zoos, aquariums and other conservation
					 partners are working to raise awareness around sustainable seafood in their cities.</p>

					 <p>The Monterey Bay Aquarium Seafood Watch® program has received multiple requests from scientific
					 advisors, business partners and NGOs to help them understand the Greenhouse Gas (GHG) Emissions
					 associated with seafood, and began exploring greenhouse gas emissions as an additional
					 environmental consideration in seafood production in 2010, partnering with researchers at Dalhousie
					 University in Nova Scotia. Dr. Peter Tyedmers is a professor at Dalhousie University’s School for
					 Resource and Environmental Studies whose work includes a broad range of environmental
					 sustainability challenges in food production. Dr. Robert Parker is a former student of Dr. Tyedmers and
					 is currently a postdoctoral researcher at the University of British Columbia’s Institute for the Oceans
					 and Fisheries studying supply chain pathways of protein production from fisheries and aquaculture.
					 They co-manage the Fisheries and Energy Use Database of global fuel use data from primary and
					 secondary sources and, along with a community of researchers around the world, have worked with
					 industry, governmental and non-governmental groups to collect, analyze, and communicate the
					 greenhouse gas emissions of local, regional, and global seafood production.
					 </p>

					 <div class="staff p-b-9">
							<img src="/images/staff-lisa-max.jpg">

							<img src="/images/staff-peter-tyedmers.jpg">

							<img src="/images/staff-robert-parker.jpg">
					 </div>
				 </div>
			 </div>

			 <div class="tab">
				 <input type="radio" id="tab-2" name="tab-group-1">
				 <label for="tab-2" class="f-size-xl">Background &amp; Content</label>

				 <div class="tab-content tab-content-nav">
						 <h1 class="f-size-xl f-weight-b">Background &amp; Content</h1>
				 </div>
			 </div>

				<div class="tab">
				 <input type="radio" id="tab-3" name="tab-group-1">
				 <label for="tab-3" class="f-size-xl">Methods</label>

				 <div class="tab-content tab-content-nav">
						 <h1 class="f-size-xl f-weight-b">Methods</h1>
				 </div>
			 </div>

			 <div class="tab">
				 <input type="radio" id="tab-4" name="tab-group-1">
				 <label for="tab-4" class="f-size-xl">In Depth Topics</label>

				 <div class="tab-content tab-content-nav">
						 <article class="p-b-2">
		 					<h2 class="f-size-xl f-weight-b"><a href="#">Food Production & Greenhouse Gases</a></h2>
		 					<p>The Paris Agreement, negotiated at the 2015 meeting of the Conference of the Parties of the United Nations Framework Convention on Climate Change (UNFCCC) climate change conference in Paris, included the goal of limiting global climate change to below 2° Celsius.</p>
		 				</article>

		 				<article class="p-b-2">
		 					<h2 class="f-size-xl f-weight-b"><a href="#">The Seafood Industry</a></h2>
		 					<p>Seafood provides 17% of the world’s animal protein6. Production of seafood—from both wild and farmed sources—plays an important role in the nutrition, economies, and cultures of countries around the world, particularly for developing coastal and island nations.</p>
		 				</article>

		 				<article class="">
		 					<h2 class="f-size-xl f-weight-b"><a href="#">Seafood Life Cycle Emissions</a></h2>
		 					<p>To measure the GHG emissions associated with a seafood product or type of seafood production system, analysts around the world have used life cycle assessment not just to calculate total emissions and compare products, but to identify those aspects of the seafood product life cycle which are most important.</p>
		 				</article>
				 </div>
			 </div>

			 <div class="tab">
				 <input type="radio" id="tab-5" name="tab-group-1">
				 <label for="tab-5" class="f-size-xl">Transport Calculator</label>

				 <div class="tab-content tab-content-nav">
						 <h1 class="f-size-xl f-weight-b">Transport Calculator</h1>
						 <form class="width-520" action="#" method="">
			         <input type="text" name="" value="" class="form-control" placeholder="Rail Miles">
			         <input type="text" name="" value="" class="form-control" placeholder="Freight Miles">
			         <input type="text" name="" value="" class="form-control" placeholder="Plane Miles">
			         <input type="text" name="" value="" class="form-control" placeholder="Truck Miles">
			         <input type="submit" name="" class="form-control btn btn-large btn-outline" value="Calculate">
			         <h2 class="align-c f-size-xl f-weight-r">Total: 40 CO  -eq/kg</h2>
			       </form>
				 </div>
			 </div>

			 <div class="tab">
				 <input type="radio" id="tab-6" name="tab-group-1">
				 <label for="tab-6" class="f-size-xl">Contribute</label>

				 <div class="tab-content tab-content-nav">
					 <h1 class="f-size-xl f-weight-b">Contribute Data</h1>
					 <form class="width-520" action="#" method="">
						 <input type="text" name="" value="" class="form-control" placeholder="Full Name">
						 <input type="text" name="" value="" class="form-control" placeholder="Who You Are">
						 <input type="text" name="" value="" class="form-control" placeholder="Email">
						 <textarea name="name" rows="8" cols="80" class="form-control" placeholder="Comment"></textarea>
						 <input type="submit" name="" class="form-control btn btn-large btn-outline" value="Submit">
					 </form>
				 </div>
			 </div>
		</div>
	</div>
</nav>
