@keyframes fadein {
  from {
		opacity: 0;
	}
  to {
		opacity: 1;
	}
}

.barchart {
  &-row {
  	position: relative;
  	height: 390px;

		@media #{$max-width-414} {
		}
  }

	&-legend {
    position: absolute;
    bottom: 90px;
		right: 0;
		animation: fadein 2s;
		width: 140px;

		@media #{$max-width-414} {
			position: static;
		}

    &-item {
			padding-left: 2.4em;
      margin-top: .6em;
			position: relative;

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 5px;
				position: absolute;
				left: 0;
				top: 3px;
      }

      &-bg-green:before {
        background-color: $c-green;
      }

      &-bg-pink:before {
        background-color: $c-pink;
      }

      &-bg-white:before {
        background-color: $c-white;
      }

      &-bg-violet:before {
        background-color: $c-violet;
      }

			&-bg-acua:before {
        background-color: $c-acua;
      }

      &-bg-blue:before {
        background-color: $c-blue;
      }

      &-bg-yellow:before {
        background-color: $c-yellow;
      }

      &-bg-orange:before {
        background-color: $c-orange;
      }
    }
  }
}

.segment {
  flex: 1 100%;
  align-self: flex-end;
}

.label {
	display: block;
}

.x-axis {
  display: flex;
  height: 100%;
  text-align: center;
	margin: 0 7em 0 3em;

	.label {
		position: relative;
		bottom: -30px;

		@media #{$max-width-414} {
			position: static;
		}
	}
}

.species {
  flex: .12;

	@media #{$max-width-414} {
		flex: 1;
	}
}

.col {
    display: flex;
    height: 100%;
    width: 50px;
    margin: 0 auto;
}

.bar {
  align-self: flex-end;
	position: relative;
	margin: 0 auto;
	width: 15px;
  height: 0px;
	// transition: height, .75s ease;
	animation: fadein 3s;
	cursor: pointer;

  &:hover .tooltip {
  	opacity: 1;
		visibility: visible;

    &:after {
      opacity: 1;
			visibility: visible;
    }
  }

  &:before, &:after {
    content: "";
    height: 1px;
    position: absolute;
    width: 19px;
    left: -2px;
    display: block;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &.bg-green:before, &.bg-green:after {
      background-color: $c-green;
  }

	&.bg-grey:before, &.bg-grey:after {
      background-color: $c-grey;
  }

  &.bg-pink:before, &.bg-pink:after {
      background-color: $c-pink;
  }

	&.bg-navy:before, &.bg-navy:after {
      background-color: $c-navy;
  }

  &.bg-violet:before, &.bg-violet:after {
      background-color: $c-violet;
  }

	&.bg-blue:before, &.bg-blue:after {
      background-color: $c-blue;
  }

	&.bg-yellow:before, &.bg-yellow:after {
      background-color: $c-yellow;
  }

	&.bg-white:before, &.bg-white:after {
      background-color: $c-white;
  }

	&.bg-orange:before, &.bg-orange:after {
      background-color: $c-orange;
  }

	&.bg-acua:before, &.bg-acua:after {
      background-color: $c-acua;
  }

	&-units {
		width: 100%;
		top: 1em;
		background: transparent url(/images/unit.svg) 50% 0 no-repeat;
		padding: 1em 0;

		li {
			display: inline-block;
			margin-bottom: 0;
		}

		a {
			color: white;
		}

		.link-active {
			box-shadow: 0 2px 0 #9FD6F8;
		}

		&-fish {
			&:after {
				content: "";
				width: 1px;
				height: 30px;
				background-color: white;
				display: inline-block;
				vertical-align: middle;
				margin: 0 .2em 0 .5em;
			}
		}
	}

  .label {
    align-self: flex-end;
  	padding-top: .5em;
  }
}

.box {
	// padding-top: 5em;

	&-action {
		margin: 0 auto 2em;
		box-shadow: 4px 4px 4px black;
		background-color: $c-darkblue;
		padding: 1em;

		li {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
			margin-left: .4em;

			&:first-child {
				margin-right: 1em;
				margin-left: 0;
			}

			&:last-child {
				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 1px;
					height: 25px;
					margin: 0 9px 0 2px;
					background-color: white;
				}
			}
		}

		a {
			cursor: pointer;
		}
	}

	&-view {
		max-width: 130px;
		position: relative;
		z-index: 88;

		&-outter {
			position: fixed;
			width: 100%;
			bottom: 0;
			z-index: 77;
			// background-color: #07135B;

			&:before {
				content: "";
				width: 100%;
				border-top: 1px solid $c-whitetransp-half;
				position: absolute;
				left: 0;
				top: 22px;
			}

			.pos-absolute {
				top: 35px;
			}
		}

		&-list {
			// position: relative;
			// top: 8em;
		}
	}

	&-specie-data {
		max-width: 350px;
	}
}

.tooltip, .tooltip:after {
  display: block;
  position: absolute;
	z-index: 2;
	left: 50%;
	transform: translateX(-56%);
	opacity: 0;
	visibility: hidden;
	transition: opacity, .15s ease-out;
}

.tooltip {
  top: -6em;
  background-color: white;
  padding: .6em;
  border-bottom: 3px solid #7AF0FA;
  border-radius: $border-radius;
  text-align: left;

  &:after {
    content: "";
    border: 8px solid transparent;
    border-top: 8px solid #7AF0FA;
    border-bottom: 0;
    bottom: -10px;
  }
}

.y-axis {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;

	@media #{$max-width-414} {
		padding-left: 1em;
	}

  .label {
    text-align: right;
    width: 2em;
  }
}

.raised-cat {
	position: absolute;
	bottom: -20px;
	left: 3px;
}
