// Colors
.c {
  &-green {
    color: $c-green;
  }

  &-darkgreen {
    color: $c-darkgreen;
  }

  &-lightgreen {
    color: $c-lightgreen;
  }

  &-orange {
    color: $c-orange;
  }

  &-darkorange {
    color: $c-darkorange;
  }

  &-blue {
    color: $c-blue;
  }

  &-darkblue {
    color: $c-darkblue;
  }

  &-navy {
    color: $c-navy;
  }

  &-darknavy {
    color: $c-darknavy;
  }

  &-whitetransp {
    color: $c-whitetransp;
  }

  &-whitetransp-4 {
    color: $c-whitetransp-4;
  }

  &-violet {
    color: $c-violet;
  }

  &-grey {
    color: $c-grey;
  }

  &-lightgrey {
    color: $c-lightgrey;
  }

  &-darkgrey {
    color: $c-darkgrey;
  }

  &-white {
    color: $c-white;
  }
}

.bg {
  &-white {
    background-color: $c-white;
  }

  &-whitetransp {
    background-color: $c-whitetransp;
  }

  &-pink {
    background-color: $c-pink;
  }

  &-yellow {
    background-color: $c-yellow;
  }

  &-blue {
    background-color: $c-blue;
  }

  &-darkblue {
    background-color: $c-darkblue;
  }

  &-green {
    background-color: $c-green;
  }

  &-darkgreen {
    background-color: $c-darkgreen;
  }

  &-grey {
    background-color: $c-grey;
  }

  &-lightgrey {
    background-color: $c-lightgrey;
  }

  &-navy {
    background-color: $c-navy;
  }

  &-darknavy {
    background-color: $c-darknavy;
  }

  &-violet {
    background-color: $c-violet;
  }

  &-acua {
    background-color: $c-acua;
  }

  &-orange {
    background-color: $c-orange;
  }
}

.border {
  border-style: solid;
  border-radius: $border-radius;

  &-navy {
    border-color: $c-navy;
  }

  &-blacktransp-half {
    border-color: $c-blacktransp-half
  }

  &-l-2 {
    border-left-width: 2px;

    @media #{$max-width-414} {
      border-left-width: 0;
    }
  }

  &-l-5 {
    border-left-width: 5px;

    @media #{$max-width-414} {
      border-left-width: 0;
    }
  }

  &-w-5 {
    border-width: 5px;
  }
}
