html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-image: linear-gradient(#0E1138 10%, #043858);
	color: white;
	min-height: 100vh
}

a {
	color: white;
	text-decoration: none;

	&:hover {
	}
}

img {
	max-width: 100%;
	vertical-align: middle;
}

strong, b {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, li {
	margin: 0 0 .4em;
	font-weight: 300;
	line-height: 1.14;
}

p, address {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.5;
}

p:last-child {
	margin-bottom: 0;
}

sub {
	vertical-align: sub;
}

input, textarea {
	outline: none;
	font-size: $f-size-base;
	border-radius: $border-radius;
	border-width: 0;
	padding: .8em;
	box-sizing: border-box;

	&[type="submit"] {
		cursor: pointer;
	}

	&::placeholder {
		color: $c-whitetransp-4;
	}
}
