footer {
	margin-top: 12em;
	padding: 2em 0 3em;
	text-align: center;
	font-size: .9em;
	border-top: 1px solid white;

	.container {
		position: relative;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: white;
		}
	}
}

.footer {
	&-links {
		li {
			list-style: none;
			display: inline-block;
			margin-bottom: 0;

			a {

				&:hover {
					text-decoration: none;
				}

				svg {
					fill: #fff;
					margin-right: 5px;
					transition: fill 0.2s ease;
					vertical-align: middle;
					position: relative;
					top: -2px;
					width: 22px;
					height: 22px;
				}
			}
		}
	}

	&-columns {
		.footer-links {

			&:last-child {
				position: absolute;
				right: 0;
				top: 0;

				@media #{$max-width-414} {
					position: static;
					margin: 1em 0;
				}
			}
		}
	}
}

.copyright {
	position: absolute;
	left: 0;
	top: 0;
	font-size: .9em;
	margin-bottom: 0;

	@media #{$max-width-414} {
		position: static;
	}
}
