.control {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  margin-bottom: .6em;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ .control__indicator {
      background-color: #0088E0;
      border-color: transparent;

      &:after {
        display: block;
      }
    }
  }

  &--checkbox {

  }

  &__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 2px solid $c-whitetransp-half;
    border-radius: 1px;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 4px;
      top: 0;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.form {
  &-control {
		margin-bottom: 1em;
    display: block;
    width: 100%;
		background-color: rgba(255, 255, 255, .2);
		color: $c-white;
  }
}

.btn {
  color: $c-white;
  border-radius: $border-radius;
  padding: .5em 1em;
  text-decoration: none;
  display: inline-block;
  background-color: $c-orange;

  &:hover {
      background-color: darken($c-orange, 3%);
  }

  &-blue {
    background-color: $c-blue;

    &:hover {
        background-color: darken($c-blue, 3%);
    }
  }

  &-large {
    padding-top: .6em;
    padding-right: 1.2em;
    padding-bottom: .6em;
    padding-left: 1.2em;
  }

	&-outline {
		background-color: transparent;
		border: 3px solid rgba(255, 255, 255, .4);

		&:hover {
			background-color: rgba(255, 255, 255, .4);
		}
	}

  &-closebox {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
  }

  &-triangle {
    position: relative;
    padding-right: 2.6em;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid $c-white;
    }
  }
}
