.pos {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;

    @media #{$max-width-414} {
      position: static;
    }

    &-right {
      top: 0;
      right: 0;
    }

    &-left {
      top: 0;
      left: 0;
    }
  }
}

.width {
  &-520 {
    width: 520px;
  }

  &-800 {
    width: 800px;
  }
}

.max-width {
  &-c {
    margin: 0 auto;
  }

  &-quarter {
    max-width: 25%;
  }

  &-half {
    max-width: 50%;
  }

  &-65ent {
    max-width: 65%;
  }

  &-75ent {
    max-width: 75%;
  }

  &-600 {
    max-width: 600px;
  }

  &-800 {
    max-width: 800px;
  }

  &-1000 {
    max-width: 1000px;
    margin: 0 auto;
  }

  @media #{$max-width-414} {
    &-quarter, &-half, &-600, &-1000 {
      max-width: none;
    }
  }
}

// Layout using flex
.flex {
    display: flex;

    @media #{$max-width-414} {
      display: block;
    }

    &-allday {
      display: flex;
    }

    &-align-center {
        align-items: center;
    }

    &-med {
        flex: .75 0;
    }

    &-1 {
        flex: 1 0;
    }

    &-2 {
        flex: 2 0;
    }

    &-3 {
        flex: 3 0;
    }

    &-230 {
      flex: 0 0 230px;
    }

    &-330 {
      flex: 0 0 330px;
    }
}

// Order of flex items
.order {
  &-1 {
    order: 1;
  }

  &-2 {
    order: 2;
  }

  &-3 {
    order: 3;
  }
}

// Column count
.c-count {
  &-4 {
      column-count: 4;
  }

  &-3 {
      column-count: 3;
  }

  &-2 {
      column-count: 2;
  }
}
