header {
	position: fixed;
	z-index: 999;
	margin: 20px 0;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		margin-left: 1.6em;

		a {
			display: inline-block;
		}
	}

	.container {
		position: relative;
	}
}

.nav-open {
	overflow: hidden;

	.nav-toggle, .company-name {
		z-index: 9;
	}

	.company-name {
		position: relative;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 8;

		&, .tab-1, .tab-2, .tab-3, .tab-4, .tab-6 {
			background-image: linear-gradient(#0E1138 10%, #043858);
		}
	}

	.nav-toggle {
		span {
			display: none;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}

	.nav-logo-container {
		position: fixed;
		z-index: 9;

		.nav-toggle {
			left: 0;
		}
	}
}

.nav-menu {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// margin: -15% 0 0 -25%;

	max-width: 940px;
	margin: 0 auto;
}

nav {
	display: none;

	.nav-open & {
		display: block;
	}

	a {
		&:hover {
			color: lighten(#9FD6F8, 9%);
		}
	}

	a.highlight {
	}

	a.active {
		color: #9FD6F8;
	}
}

.nav-toggle {
	position: absolute;
	left: 1em;
	top: 10px;
	width: 33px;
	height: 22px;
	border: 0;
	padding: 0;

	&:before, &:after, span {
    content: "";
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: rgba(255,255,255,.9);
    transition-duration: .12s;
		border-radius: $border-radius;
  }

  &:before {
    top: 8px;
  }

  &:after {
    bottom: 2px;
  }

	&:hover {
		border: 0;
	}
}

.hero_search {
	display: none;
	text-align: center;
	flex: 0 0 100%;
	padding: 60px 0 30px 0;

	form {
		position: relative;
		max-width: 800px;
		margin: 0 auto;
		padding: 20px 0;

		svg {
			fill: #eee;
			position: absolute;
			top: 31px;
			right: 12px;
			display: inline-block;
			width: 36px;
			height: 40px;
			cursor: pointer;
		}
	}

	h1 {
		// font-size: 2.4em;
		color: #fff;
	}

	input[type=search] {
		margin: 0;
		color: #555;
		padding: 15px;
		font-size: 1.1em;
	}
}


.tab {
	&s {
		position: relative;
		margin-top: 8em;
	}

	label {
		cursor: pointer;
		display: inline-block;
		margin-bottom: 1em;
		max-width: 11em;
	}

	[type=radio] {
		display: none;

		&:checked ~ label {
			z-index: 2;
			box-shadow: 0 5px 0 #9FD6F8;
		}
		&:checked ~ label ~ .tab-content {
			z-index: 1;
		}
		&:checked ~ label ~ .tab-content > * {
			opacity: 1;
		}
	}
}

.tab-content {
	overflow: scroll;
	position: absolute;
	left: 23em;
	top: -130px;
	max-height: 100vh;
	padding-top: 8em;

	> * {
		opacity: 0;
	}
}
