// .modalDialog {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	background: rgba(0,0,0,0.6);
// 	z-index: 99999;
// 	opacity:0;
// 	-webkit-transition: opacity 200ms ease-in;
// 	-moz-transition: opacity 200ms ease-in;
// 	transition: opacity 200ms ease-in;
// 	pointer-events: none;
//
// 	&.show {
// 		opacity:1;
// 		pointer-events: auto;
// 	}
//
// 	& > div {
// 		max-width: 600px;
// 		position: relative;
// 		margin: 10% auto;
// 		padding: 130px 40px 40px;
// 		border-radius: 3px;
// 		background: #fff;
// 		box-sizing: border-box;
// 	}
//
// 	h2 {
// 		font-weight: bold;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		padding: 0 40px;
// 		line-height: 100px;
// 		width: 100%;
// 		box-sizing: border-box;
// 		background: #eee;
// 		border-radius: 2px 2px 0 0;
// 	}
//
// 	p {
// 		font-size: .9em;
// 		margin: 0 0 20px 0;
// 	}
//
// 	input[type="email"] {
// 		font-size: 1em;
// 	}
//
// 	.close {
// 		position: absolute;
// 		top: 33px;
// 		right: 35px;
// 		font-size: 1.5em;
// 		width: 25px;
// 		height: 25px;
// 		cursor: pointer;
// 		z-index: 99;
// 		font-size: 30px;
// 	}
// }

$speed: .3s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55,0,.1,1);

.modal {
	width: 800px;
	margin: 3em auto 0;
	opacity: 0;
	visibility: hidden;
	backface-visibility: hidden;
	transform: scale(1.2);
	transition: all $speed $easing;
	// box-shadow: 9px 9px 9px rgba(0,0,0,.5);

	&-overlay {
    // display: flex;
    // align-items: center;
    // justify-content: center;
		// background-color: rgba(#000, .45);
		background-image: url(/images/bg-home.jpg);
		background-position-y: 60%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		overflow: auto;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    // backface-visibility: hidden;
    transition: opacity $speed $easing, visibility $speed $easing;


    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

	&-close {
		top: 1em;
		right: 1em;
		cursor: pointer;
		backface-visibility: hidden;
		transition: opacity $speed $easing, transform $speed $easing;
		transition-delay: $delay;
		z-index: 11;
	}

	&-content {
		opacity: 0;
		backface-visibility: hidden;
		transition: opacity $speed $easing;
		transition-delay: $delay;
	}

	&.active {
		visibility: visible;
		opacity: 1;
		transform: scale(1);

		.modal-content {
			opacity: 1;
		}

		.close-modal {
			transform: translateY(10px);
			opacity: 1;
		}
	}
}
