.underline {
	border-bottom: 3px solid white
}

.specie-glow {
	filter: drop-shadow(0 0 7px rgba(255, 255, 255, .5));
}

.container-svg {
	&:hover .tooltip {
	    display: block;
	}
}

.tooltip {
  display: none;
  background: rgba(255,255,255,.96);
	color: $c-darkblue;
	border-radius: $border-radius;
  margin-left: 1em;
  padding: .6em;
  position: absolute;
  z-index: 1000;
  width: 150px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.filter-categories {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255,255,255,.96);
	color: black;
	padding: 2em;
	border-radius: $border-radius;

	label {
		font-weight: 400;
		text-transform: capitalize;
		white-space: nowrap;
		cursor: pointer;
	}

	input[type=checkbox] { display:none; }
	input[type=checkbox] + label:before {
	  font-family: FontAwesome;
	  display: inline-block;
	}

	input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
	input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

	input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
	input[type=checkbox]:checked + label:before { letter-spacing: 8px; } /* allow space for check mark */
}

.home, .transport-calculator, nav.tab-5 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-color: transparent;
}

.home {
	background-image: url(/images/bg-home.jpg);
	padding-bottom: 6em;
}

.transport-calculator, nav.tab-5 {
	background-image: url(/images/bg-transport-calculator.jpg);
}

.arrow {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 25px;
  transition: opacity .25s linear;

	@media #{$max-width-414} {
		display: none;
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.bounce {
	animation: bounce 2s infinite;
}

.staff {
	padding: 0;
	list-style: none;

	img {
		margin-right: 1em;
		height: 215px;
		// object-fit: cover;

		&:last-child {
			margin-right: 0;
		}
	}
}

.list {
  padding: 0;
  margin: 0;

  &-item {
    width: 150px;
    height: 25%;
    margin-left: 2em;
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }
  }

  &-scroll {
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }
}

.progress {
	&:first-child {
		border-radius: $border-radius 0 0 $border-radius;
	}

	&:last-child {
		border-radius: 0 $border-radius $border-radius 0;
	}

  &:after {
    content: attr(data-width) "%";
    color: $c-copy;
    font-size: $f-size-s;
  }
}


.tabContainer{
	/* The UL */
	float:right;
	padding-right:13px;
}

#contentHolder{
	background-color:#EEEEEE;
	border:2px solid #FFFFFF;
	height:300px;
	margin:20px;

	color:#444444;
	padding:15px;
}

#tabContent{
	background-color:#333;
	border:1px solid #444;
	margin-top:-15px;
	width:100%;
}

#tabContent, .tabContainer li a,#contentHolder{
	-webkit-box-shadow:0 0 2px black;
	-moz-box-shadow:0 0 2px black;
	box-shadow:0 0 2px black;
}

.tabContainer li{
	/* This will arrange the LI-s next to each other */
	display:inline;
}

.tabContainer li a,.tabContainer li a:visited{
	/* Styling the hyperlinks of the tabs as colorful buttons */

	float:left;
	font-size:18px;

	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;

	padding:7px 16px 1px;
	margin:4px 5px;
	height:29px;

	/* Giving positioning */
	position:relative;

	/* CSS3 text-shadow */
	text-shadow:1px 1px 1px #CCCCCC;
}
.clear{
	/* Old-school clear fix hack to clear the floats: */
	clear:both;
	height:1px;
	overflow:hidden;
}
