// Font szes
.f-size {
  &-xxxxl {
    font-size: $f-size-xxxxl;
  }

  &-xxxl {
    font-size: $f-size-xxxl;
  }

  &-xxl {
    font-size: $f-size-xxl;

    @media #{$max-width-414} {
      font-size: $f-size-xl;
    }
  }

  &-xl {
    font-size: $f-size-xl;

    @media #{$max-width-414} {
      font-size: $f-size-l;
    }
  }

  &-l {
    font-size: $f-size-l;
  }

  &-m {
    font-size: $f-size-m;
  }

  &-s {
    font-size: $f-size-s;
  }

  &-xs {
    font-size: $f-size-xs;
  }

  &-xxs {
    font-size: $f-size-xxs;
  }
}

@mixin shell--414() {
  .f-size {
    &-xxxxl {
      font-size: $f-size-xxxl;
    }

    &-xxxl {
      font-size: $f-size-xxl;
    }

    &-xxl {
      font-size: $f-size-xl;
    }

    &-xl {
      font-size: $f-size-l;
    }
  }
}

// Font weights
.f-weight {
  &-l {
    font-weight: $f-weight-light;
  }

  &-r {
    font-weight: $f-weight-regular;
  }

  &-s {
    font-weight: $f-weight-semibold;
  }

  &-b {
    font-weight: $f-weight-bold;
  }
}

// All caps
.allcaps {
  text-transform: uppercase;
}

.material-icons {
  vertical-align: middle;
}
