.block {
  display: block;
}

.pane {
  &-inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  &-data {
    .pane-inner {
      align-items: initial;
      padding-top: 5em;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.min-height {
  &-180 {
    min-height: 180px;
  }
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.border-radius {
  border-radius: $border-radius;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.more {
  &-content {
    display: none;
  }
}

.is {
  &-hidden {
    display: none;
  }

  &-visible {
    display: block;
  }
}

.align {
  &-c {
    text-align: center;
  }

  &-r {
    text-align: right;
  }

  &-v {
    position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  }
}

.allcaps {
  text-transform: uppercase;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

// Margins
.m {
  &-t-1 {
    margin-top: 1em;
  }

  &-t-2 {
    margin-top: 2em;

    @media #{$max-width-414} {
      margin-top: 1em;
    }
  }

  &-t-3 {
    margin-top: 3em;

    @media #{$max-width-414} {
      margin-top: 2em;
    }
  }

  &-t-5 {
    margin-top: 5em;

    @media #{$max-width-414} {
      margin-top: 2em;
    }
  }

  &-r-1 {
    margin-right: 1em;

    @media #{$max-width-414} {
      margin-right: 0;
    }
  }

  &-r-2 {
    margin-right: 2em;

    @media #{$max-width-414} {
      margin-right: 1em;
    }
  }

  &-r-3 {
    margin-right: 3em;

    @media #{$max-width-414} {
      margin-right: 2em;
    }
  }

  &-b-1 {
    margin-bottom: 1em;
  }

  &-b-2 {
    margin-bottom: 2em;

    @media #{$max-width-414} {
      margin-bottom: 1em;
    }
  }

  &-b-3 {
    margin-bottom: 3em;

    @media #{$max-width-414} {
      margin-bottom: 2em;
    }
  }

  &-l-1 {
    margin-left: 1em;

    @media #{$max-width-414} {
      margin-left: 0;
    }
  }

  &-l-2 {
    margin-left: 2em;

    @media #{$max-width-414} {
      margin-left: 0;
    }
  }

  &-l-3 {
    margin-left: 3em;

    @media #{$max-width-414} {
      margin-left: 0;
    }
  }
}

// Paddings
.p {
  &-half {
    padding: .5em;

    @media #{$max-width-414} {
      padding: .25em;
    }
  }

  &-1 {
    padding: 1em;

    @media #{$max-width-414} {
      padding: .4em;
    }

    &-responsive {
      @media #{$max-width-414} {
        padding: 0;
      }
    }
  }

  &-2 {
    padding: 2em;

    @media #{$max-width-414} {
      padding: 1em;
    }
  }

  &-3 {
    padding: 3em;

    @media #{$max-width-414} {
      padding: 2em;
    }
  }

  &-t-1 {
    padding-top: 1em;

    @media #{$max-width-414} {
      padding-top: 0;
    }
  }

  &-t-2 {
    padding-top: 2em;

    @media #{$max-width-630} {
      padding-top: 0;
    }
  }

  &-t-3 {
    padding-top: 3em;

    @media #{$max-width-414} {
      padding-top: 1em;
    }
  }

  &-t-5 {
    padding-top: 5em;

    @media #{$max-width-414} {
      padding-top: 1em;
    }
  }

  &-r-1 {
    padding-right: 1em;

    @media #{$max-width-414} {
      padding-right: 0;
    }
  }

  &-r-2 {
    padding-right: 2em;

    @media #{$max-width-414} {
      padding-right: 1em;
    }
  }

  &-r-3 {
    padding-right: 3em;

    @media #{$max-width-414} {
      padding-right: 2em;
    }
  }

  &-b-1 {
    padding-bottom: 1em;

    @media #{$max-width-414} {
      padding-bottom: 0;
    }
  }

  &-b-2 {
    padding-bottom: 2em;

    @media #{$max-width-630} {
      padding-bottom: 0;
    }
  }

  &-b-3 {
    padding-bottom: 3em;

    @media #{$max-width-414} {
      padding-bottom: 2em;
    }
  }

  &-b-5 {
    padding-bottom: 5em;

    @media #{$max-width-414} {
      padding-bottom: 1em;
    }
  }

  &-b-9 {
    padding-bottom: 9em;

    @media #{$max-width-414} {
      padding-bottom: 1em;
    }
  }

  &-l-1 {
    padding-left: 1em;

    @media #{$max-width-414} {
      padding-left: 0;
    }
  }

  &-l-2 {
    padding-left: 2em;

    @media #{$max-width-414} {
      padding-left: 0;
    }
  }

  &-l-3 {
    padding-left: 3em;

    @media #{$max-width-414} {
      padding-left: 0;
    }
  }

  &-l-9 {
    padding-left: 9em;

    @media #{$max-width-414} {
      padding-left: 0;
    }
  }
}
