// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #222;
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #0c92f1;

$link-color: #4A4A4A;
$link-hover-color: #111;




// Media queries Break points
$max-width-850: "(max-width: 850px)";
$max-width-700: "(max-width: 700px)";
$max-width-630: "(max-width: 630px)";
$max-width-414: "(max-width: 414px)";

// Fontface
$f-headline: "Open Sans", Helvetica, Arial, sans-serif;

// Font sizes
$f-size-xxxxl: 3.4em;
$f-size-xxxl: 2.8em;
$f-size-xxl: 2.2em;
$f-size-xl: 1.8em;
$f-size-l: 1.4em;
$f-size-m: 1.2em;
$f-size-base: 1.1em;
$f-size-s: .84em;
$f-size-xs: .76em;
$f-size-xxs: .68em;

// Font weights
$f-weight-light: 300;
$f-weight-regular: 400;
$f-weight-semibold: 600;
$f-weight-bold: 700;

// Colors
$c-copy: #333;
$c-white: white;
$c-whitetransp: rgba(255,255,255,.14);
$c-whitetransp-4: rgba(255,255,255,.4);
$c-whitetransp-half: rgba(255,255,255,.5);

$c-blacktransp-half: rgba(0,0,0,.5);

$c-green: #959504;
$c-lightgreen: #5d9a98;
$c-darkgreen: #355655;

$c-orange: #FFA300;
$c-darkorange: #e56423;

$c-grey: #b1b1b1;
$c-lightgrey: #F1F1F1;
$c-darkgrey: #202020;

$c-acua: #84D9F2;

$c-yellow: #E1F0A3;

$c-blue: #2f8cff;
$c-darkblue: #060640;

$c-navy: #3D5380;
$c-darknavy: #142C6E;

$c-violet: #847BF4;
$c-lightviolet: #727EBD;

$c-pink: #F47DA2;

$c-facebook: #375185;
$c-linkedin: #0071A1;

$border-radius: 1px;
