---
layout: default
---

{% assign posts = page.posts | sort: "title" %}
<h2 style="text-transform:capitalize;">{{ page.title | replace: "-", " " }} <span class="count">({{ posts | size }})</span></h2>

{% include listings.html listings=posts %}
