<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content="Jekyll v{{ jekyll.version }}">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400|Lato:300,400,700|Material+Icons">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/snap.svg-min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

		{% seo %}
		{% feed_meta %}

		{% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
			<script>
				(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,"script","//www.google-analytics.com/analytics.js","ga");

				ga("create", "{{ site.google_analytics_key }}", "auto");
				ga("send", "pageview");
			</script>
		{% endif %}
	</head>

	<body class="{{ page.body_class }}">
		{% if page.url == "/" %}
		<div class="section-1">
		{% endif %}

		<header>
			<div class="container">
				<a class="nav-toggle" id="open-nav" href="#"><span></span></a>
				<div class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg"></a></div>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		{% include footer.html %}

		<script>
			$(function() {
				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
					var el = $(this.hash);
					if (el.length > 0) {
						// event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
					}
				});

				$('svg').click(function() {
					$(this).parent('form').submit();
				});
			});

			document.getElementById("open-nav").addEventListener("click", function (event) {
				event.preventDefault();
				document.body.classList.toggle("nav-open");
			});
		</script>
	</body>
</html>
