---
layout: default
---
<div class="container">
	<div class="p-t-3 p-b-9">
		{% if page.heading %}
			<h1 class="f-size-xl f-weight-b">{{ page.heading }}</h1>
		{% elsif page.title and page.layout != 'archive' %}
			<h1 class="f-size-xl f-weight-b">{{ page.title }}</h1>
		{% endif %}

		{% if page.description %}
			<p class="subtext">{{ page.description }}</p>
		{% endif %}
		{{ content }}
	</div>
</div>
