---
layout: default
---
{% comment %}
	<!-- <section class="sidebar sticky">
		<ul>
			{% assign sub_navigation = content | extract_element: 'h2' %}
			{% for item in sub_navigation %}
				<li><a href="#{{ item.id }}">{{ item.text }}</a></li>
			{% endfor %}
		</ul>
	</section> -->

	<!-- {% if page.type == "Video" %}
		{% include youtube.html video_id=page.video_id %}

		{% if page.resources %}
			<div class="resources">
				<ul>
					{% for resource in page.resources %}
						<li><a href="{{ resource.link }}">{{ resource.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endif %} -->
{% endcomment %}

	<div class="container">
		<div class="p-t-3 p-b-9">
			{% if page.type == "Docs" %}
				<div class="m-b-3">
					<a href="/in-depth-topics/">BACK TO IN DEPTH TOPICS</a>
				</div>
			{% endif %}

			<h1 class="f-size-xl f-weight-b">{{ page.title }}</h1>
			{{ content }}
		</div>
	</div>

	{% comment %}

	<!-- <div class="tutorial-share">
		<a class="modalOpen no-smooth" href="#subscribe">{% include social-icon.html icon="Email" %} Subscribe</a>
		<a class="modalOpen no-smooth" href="#share">{% include social-icon.html icon="Share" %} Share</a>
	</div> -->

<!-- {% if page.set %}
	{% assign set_file_name = "_sets/" | append: page.set | append: ".md" %}
	{% assign set = site.sets | where: "title", "Getting Started" | first %}
	{% assign series_posts = site.posts | where: "set", page.set %}
	<div class="tutorial-series">
		<h3>{{ set.title }} - Series</h3>
		<p>{{ set.description }}</p>

		{% include listings.html listings=series_posts numbered=true%}
	</div>
{% endif %}

{% assign related_posts = site.related_posts %}
{% assign related_posts_size = related_posts | size %}

{% if related_posts_size > 0 %}
	<div class="related">
		<h3>Related tutorials</h3>

		{% include listings.html listings=site.related_posts %}
	</div>
{% endif %} -->

<!-- <div id="subscribe" class="modalDialog">
	<div>
		<a title="Close" class="close">&times;</a>
		<form action="{{ site.newsletter_action }}" method="post">
			<h2>Subscribe</h2>
			<p>The latest tutorials sent straight to your inbox.</p>
			<input type="email" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up">
		</form>
	</div>
</div> -->

{% endcomment %}

<script src="{{ site.baseurl }}/js/main.js"></script>

<script>
	// var headings = document.querySelectorAll("h2[id]");
  //
	// console.log(headings);
	// for (var i = 0; i < headings.length; i++) {
	// 	var anchorLink = document.createElement("a");
	// 	anchorLink.innerText = "#";
	// 	anchorLink.href = "#" + headings[i].id;
	// 	anchorLink.classList.add("header-link");
  //
	// 	headings[i].appendChild(anchorLink);
	// }
  //
	// $(".modalOpen").click(function() {
	// 	var id = $(this).attr("href");
	// 	$(id).addClass("show");
  //
	// 	$(window).click(function() {
	// 		$(".show").removeClass("show");
	// 	});
  //
	// 	$(id + " > div").click(function(event){
	// 		event.stopPropagation();
	// 	});
	// 	return false;
	// });
  //
	// $(".close").click(function() {
	// 	$(".show").removeClass("show");
	// 	return false;
	// });
  //
	// $(document).keyup(function(e) {
	// 	if (e.keyCode == 27) {
	// 		$(".show").removeClass("show");
	// 	}
	// });
</script>
